<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Confirm Deletion</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>Confirm Deletion</h1>
        <a role="button" href="/posts">Home</a>
      </div>

      <!-- Confirmation Message -->
      <p>Are you sure you want to delete this post?</p>

      <article>
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
      </article>

      <!-- Delete Form -->
      <form action="/posts/delete/<%= post.id %>" method="POST">
        <input type="hidden" name="subname" value="<%= post.subgroup %>" />
        <button type="submit" style="background: red; color: white">
          Yes, Delete
        </button>
      </form>
        <a href="/posts/<%= post.id %>" role="button">Cancel</a>
      </form>
    </main>
  </body>
</html>
